.containers
vendor
node_modules
dist
coverage
build/
*.log
*.tmp
_*
.env
.vscode/
vscode.code-workspace
.docker-compose*override*
.idea/
.docker-compose-*.yml
._*
.containers/
.docker-compose-services-override.yml
*.env
*.logs
*.vscode/
core
*credentials.json
vendor/
vscode.*
firebase-emulators/firebase.json
