.containers
vendor
node_modules
dist
coverage
build/
*.log
*.tmp
_*
._*
.env
.vscode/
vscode.code-workspace
.docker-compose*override*
*.keystore.*
*.jks
*.storepass.*
*.keypass.*
app-release-*.apk
app-release-*.aab
gitleaks-report.json