services:
  dev:
    # image: europe-west1-docker.pkg.dev/${GOOGLE_CLOUD_PROJECT_ID}/docker-repository-public/${GOOGLE_CLOUD_PROJECT_ID}:builder-latest
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
      args:
        builder_image: ${LOCAL_BUILDER_IMAGE}
    env_file:
      - .env
    environment:
      LOCAL_WORKSPACE: ${PWD:-/workspaces/${GITHUB_REPOSITORY_NAME:-refactored-winner}}

    volumes:
      - ${PWD}:${PWD}:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - /dev:/dev
      - /lib/modules:/lib/modules:ro
      - vscode-server-dev:/home/vegito/.vscode-server
      - vscode-server-clarinet:/home/clarinet/.vscode-server
      - vscode-server-android:/home/android/.vscode-server
      - ${LOCAL_WORKSPACE:-${PWD}}/.devcontainer/vsix:/opt/vscode/vsix:ro
    command: |
      bash -c '
      set -eu
      make docker-sock
      until docker info; do
        echo "Waiting for Docker to be ready..."
        sleep 1
      done'

  clarinet-devnet:
    volumes:
      - /dev:/dev
      - /lib/modules:/lib/modules
      - ${LOCAL_WORKSPACE:-${PWD}}:${PWD}:cached
      - vscode-server-clarinet:/home/clarinet/.vscode-server
  android-studio:
    volumes:
      - ${LOCAL_WORKSPACE:-${PWD}}:${PWD}:cached
      - /var/run/dbus/system_bus_socket:/run/dbus/system_bus_socket
      - vscode-server-android:/home/android/.vscode-server

networks:
  dev:

volumes:
  vscode-server-dev:
  vscode-server-android:
  vscode-server-clarinet:
