services:
  dev:
    # build:
    #   context: .
    #   dockerfile: .devcontainer/Dockerfile
    #   args:
    #     builder_image: ${LOCAL_BUILDER_IMAGE}

    environment:
      # Enable or disable the use of the local development environment.
      MAKE_DEV_ON_START: ${MAKE_DEV_ON_START:-true}
      # Enable or disable the use of the local Robot Framework tests run on start.
      MAKE_LOCAL_ROBOTFRAMEWORK_TESTS_RUN_ON_START: ${MAKE_LOCAL_ROBOTFRAMEWORK_TESTS_RUN_ON_START:-false}

    command: |
      bash -c '
      make docker-sock
      until docker info; do
        echo "Waiting for Docker to be ready..."
        sleep 1
      done
      if [ "$${CODESPACES}" = "true" ] ; then
        echo "Detected '$${CODESPACE_NAME}' Codespaces environment."
        make devcontainer-codespaces
        make local-docker-buildx-setup-github-codespaces
      else if [ "$${MAKE_DEV_ON_START}" = "true" ] ; then
        make devcontainer
      fi
      if [ "$${MAKE_LOCAL_ROBOTFRAMEWORK_TESTS_RUN_ON_START}" = "true" ] ; then
        make application-mobile-wait-for-boot
        make functional-tests
      fi
      sleep infinity
      '
