services:
  dev:
    # image: europe-west1-docker.pkg.dev/${GOOGLE_CLOUD_PROJECT_ID}/docker-repository-public/${GOOGLE_CLOUD_PROJECT_ID}:builder-latest
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
      args:
        builder_image: ${LOCAL_BUILDER_IMAGE}
    env_file:
      - .env
    environment:
      LOCAL_WORKSPACE: ${PWD:-/workspaces/${GITHUB_REPOSITORY_NAME:-refactored-winner}}

    volumes:
      - ${PWD}:${PWD}:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - /dev:/dev
      - /lib/modules:/lib/modules:ro
      - vscode-server-extensions:/home/vegito/.vscode-server/extensions
      - vscode-server-bin:/home/vegito/.vscode-server/bin

  clarinet-devnet:
    volumes:
      - /dev:/dev
      - /lib/modules:/lib/modules
      - ${LOCAL_WORKSPACE:-${PWD}}:${PWD}:cached
      - vscode-server-extensions:/home/clarinet/.vscode-server/extensions
      - vscode-server-bin:/home/clarinet/.vscode-server/bin

  android-studio:
    volumes:
      - ${LOCAL_WORKSPACE:-${PWD}}:${PWD}:cached
      - /var/run/dbus/system_bus_socket:/run/dbus/system_bus_socket
      - vscode-server-extensions:/home/android/.vscode-server/extensions
      - vscode-server-bin:/home/android/.vscode-server/bin

networks:
  dev:

volumes:
  vscode-server-extensions:
  vscode-server-bin:
