services:
  github-actions-runner:
    # restart: unless-stopped
    image: ${LOCAL_GITHUB_ACTIONS_RUNNER_IMAGE}
    volumes:
      - ${LOCAL_GITHUB_ACTIONS_RUNNER_WORKDIR:-/runner/_work}:/runner/_work:cached
      - ${LOCAL_GITHUB_ACTIONS_RUNNER_BUILD_CACHE:-/runner/_work/.containers}:/runner/_work/.containers:cached
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - LOCAL_DOCKER_BUILDX_NAME=${LOCAL_DOCKER_BUILDX_NAME:-vegito}
      # Activate this line to share the containers build cache between runners
      # - LOCAL_GITHUB_ACTIONS_RUNNER_BUILD_CACHE=${LOCAL_GITHUB_ACTIONS_RUNNER_BUILD_CACHE:-/runner/_work/.containers}
      - GITHUB_ACTIONS_RUNNER_URL=${GITHUB_ACTIONS_RUNNER_URL:-https://github.com/vegito-app}
      - GITHUB_ACTIONS_RUNNER_TOKEN=${GITHUB_ACTIONS_RUNNER_TOKEN}
      - GITHUB_ACTIONS_RUNNER_STACK=${GITHUB_ACTIONS_RUNNER_STACK:-github-actions-stack}
    deploy:
      replicas: ${LOCAL_GITHUB_ACTIONS_DOCKER_COMPOSE_REPLICAS:-3}
      update_config:
        parallelism: ${LOCAL_GITHUB_ACTIONS_DOCKER_COMPOSE_REPLICAS:-3}
        delay: 300s
    devices:
      - /dev/kvm
    networks:
      - github-actions
networks:
  github-actions:
