[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
Comment=Android Studio IDE
Exec=/usr/local/bin/android-studio.sh
Icon=/home/android/android-studio/bin/studio.png
Terminal=false
Categories=Development;IDE;
StartupNotify=true