name: Local Environment Start
on:
  workflow_call:
    inputs:
      environment:
        description: "GitHub environment to use (for secrets/vars)"
        required: true
        type: string
      version:
        description: "Application version"
        required: true
        type: string
    secrets:
      WORKLOAD_IDENTITY_PROVIDER:
        required: true
      GOOGLE_CLOUD_SA_KEY_GITHUB_ACTIONS_MAIN:
        required: true
      GOOGLE_CLOUD_PROJECT_ID:
        required: true
jobs:
  prepare:
    runs-on: self-hosted
    environment: ${{ inputs.environment }}
    env:
      WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
      GOOGLE_CLOUD_SA_KEY_GITHUB_ACTIONS_MAIN: ${{ secrets.GOOGLE_CLOUD_SA_KEY_GITHUB_ACTIONS_MAIN }}
      GOOGLE_CLOUD_PROJECT_ID: ${{ secrets.GOOGLE_CLOUD_PROJECT_ID }}
      VEGITO_PROJECT_USER: gha-${{ github.run_id }}-${{ inputs.environment }}
      VERSION: ${{ inputs.version }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ env.GOOGLE_CLOUD_SA_KEY_GITHUB_ACTIONS_MAIN }}
          project_id: ${{ env.GOOGLE_CLOUD_PROJECT_ID }}
          token_format: "access_token"
          export_environment_variables: true

      - name: Ensure fresh .env
        run: |
          rm -f .env
          ./dotenv.sh
      - name: Setup Docker Environment
        run: |
          set -euo pipefail
          (
            make gcloud-config-set-project
            make gcloud-auth-docker
            make local-container-config-show
            make dev-ci
          ) 2>&1 | tee setup.log
