name: Build and Deploy new Version To Staging Environment
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  upgrade-staging-environment:
    runs-on: self-hosted
    env:
      INFRA_ENV: staging
      GOOGLE_APPLICATIONS_CREDENTIALS: /tmp/gcp.json
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Define VERSION
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "build-and-push-images-action@github.com"
          # Bump the version based on commit messages (default patch bump)
          standard-version
          echo "VERSION=$(git describe --tags --abbrev=7 --match 'v*')" >> $GITHUB_ENV
      - name: Use VERSION
        run: echo "Current version is ${{ env.VERSION }}"
      - name: Write gcr credentials
        run: |
          echo ${{ secrets.STAGING_GCLOUD_SERVICE_KEY }} > /tmp/gcp.json
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.STAGING_GCLOUD_SERVICE_KEY }}
      - name: Create Service Account key file
        run: echo '${{ secrets.STAGING_GCLOUD_SERVICE_KEY }}' > /tmp/gcp.json

      - name: Set GOOGLE_APPLICATION_CREDENTIALS
        run: echo "GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp.json" >> $GITHUB_ENV
      - name: Set up Cloud SDK
        run: |
          make gcloud-config-set-project
      - name: Configure Docker for GCR
        run: |
          make gcloud-auth-docker
      - name: Set up Docker Buildx
        run: |
          make docker-buildx-setup
      - name: Build and push up to date project images to staging registries
        run: |
          make images-ci
      - name: Prepare deployment to staging environment
        run: |
          make terraform-plan
      - name: Deployment of last changes to staging environment
        run: |
          make deploy-staging
