name: Version Finalize (Reusable)

on:
  workflow_call:
    inputs:
      release_branch:
        type: string
        default: main

      version:
        description: "Semantic version without leading v (ex: 1.2.3)"
        type: string
        required: true

      create_github_release:
        description: "Whether to create a GitHub Release"
        type: boolean
        default: false

      release_title:
        description: "GitHub Release title"
        type: string
        required: false
        default: ""

      release_notes_path:
        description: "Path to release notes file"
        type: string
        required: false
        default: ""

      release_bucket_name:
        description: "GCS bucket name for releases"
        required: true
        type: string

      release_bucket_prefix:
        description: "Bucket prefix (usually repository name)"
        required: false
        type: string
        default: ${{ github.repository }}

    secrets:
      GOOGLE_CLOUD_PROJECT_ID:
        required: true
      WORKLOAD_IDENTITY_PROVIDER:
        required: true
      GOOGLE_CLOUD_SA_KEY_GITHUB_ACTIONS_MAIN:
        required: true

permissions:
  contents: write
  id-token: write

jobs:
  finalize:
    runs-on: self-hosted
    name: Finalize Version

    steps:
      - name: Checkout clean
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ inputs.release_branch }}

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GOOGLE_CLOUD_SA_KEY_GITHUB_ACTIONS_MAIN }}
          project_id: ${{ secrets.GOOGLE_CLOUD_PROJECT_ID }}
          token_format: "access_token"
          export_environment_variables: true

      - name: Configure git identity
        run: |
          git config --global user.name "Vegito Release Bot"
          git config --global user.email "release@vegito.app"

      - name: Create annotated git tag
        run: |
          git tag -a "${{ inputs.version }}" -m "${{ inputs.release_title }}"

      - name: Push git tag
        run: |
          git push origin "${{ inputs.version }}"

      - name: Download release notes from GCS
        run: |
          mkdir -p ./release-notes
          gcloud storage cp \
            gs://${{ inputs.release_bucket_name }}/${{ inputs.release_bucket_prefix }}/${{ inputs.version }}/CHANGELOG.md \
            ./release-notes/${{ inputs.release_notes_path }}

      - name: Create GitHub Release
        if: ${{ inputs.create_github_release }}
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "${{ inputs.version }}"
          name: ${{ inputs.release_title }}
          body_path: ./release-notes/${{ inputs.release_notes_path }}
